/* Add CSS Styling */
.oddnumber
{
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#second
{
    color: blue;
    font-size: 24px;
    font-weight: bold;
}

#third
{
    font-size: 24px;
}

#forth
{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}